<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174110938760-p836h0b30s4c2oam5r2d34u3ai0fl9e4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174110938760-p836h0b30s4c2oam5r2d34u3ai0fl9e4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>174110938760-r9g869uu8q7qg7oieqhj099a3c92umqt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDiFDwjrweRHdS5VaXh9sA_atlppxPfZyc</string>
	<key>GCM_SENDER_ID</key>
	<string>174110938760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tiaaoun.yallahire</string>
	<key>PROJECT_ID</key>
	<string>yallahire-1a289</string>
	<key>STORAGE_BUCKET</key>
	<string>yallahire-1a289.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174110938760:ios:fe30bd4fd6d5a375de713d</string>
</dict>
</plist>